<ts-main-nav></ts-main-nav>
<div class="example-config">
        <h4>Status: {{ status }}</h4>
      </div>

      <kendo-dialog *ngIf="opened" title="Action required" (close)="onClose()">
        <p style="margin: 30px; text-align: center;">Do you accept?</p>

        <kendo-dialog-actions>
          <button kendoButton (click)="onAccept()">Yes</button>
          <button kendoButton (click)="onDecline()">No</button>
        </kendo-dialog-actions>
      </kendo-dialog>
  <div class="example-wrapper">
        <div class="row">
            <div class="col-xs-12 col-sm-6 example-col">
                <p>MaskedTextBox</p>
                <kendo-maskedtextbox
                    [(ngModel)]="value"
                    [mask]="'9-000'"
                ></kendo-maskedtextbox>
            </div>
            <div class="col-xs-12 col-sm-6 example-col">
                <p>NumericTextBox</p>
                <kendo-numerictextbox
                    [(ngModel)] = "numericValue"
                ></kendo-numerictextbox>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 example-col">
                <p>Slider</p>
                <kendo-slider
                    [min]="min"
                    [max]="max"
                    [smallStep]="smallStep"
                    [(ngModel)] = "sliderValue"
                ></kendo-slider>
            </div>
            <div class="col-xs-12 col-sm-6 example-col">
                <p>Switch</p>
                <kendo-switch [(ngModel)]="checked"></kendo-switch>
            </div>
        </div>
    </div>
    
    <button kendoButton [primary]="true" [imageUrl]="'http://demos.telerik.com/kendo-ui/content/shared/icons/sports/snowboarding.png'">Snowboarding</button>
   
   
   
    <div [ngClass]="testClass">string of classes</div>
